In [1]:
import pandas as pd
import numpy as np
import requests
import os
import datetime as dt
from datetime import datetime
import time

In [2]:
start_date = datetime(2017,4,1).date()
end_date = datetime(2022,4,30).date()
start_date_test = datetime(2022,5,1).date()
end_date_test = datetime(2022,5,30).date()
print(start_date)

2017-04-01

In [12]:
# fetch stock data
# url = "https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=AAL&outputsize=full&datatype=json&apikey=I0D6SD0JRFHWY0JN"
# api_response = requests.get(url)

# js=api_response.json()
# js_info, header = api_response.json()
# #Convert to pandas dataframe
# print(type(js[header]))
# df = pd.DataFrame.from_dict(js[header], orient='index', dtype=np.float)

# df.index = df.index.map(lambda x: datetime.strptime(x, "%Y-%m-%d"))

# # 生成完整的日期序列
# pdates = pd.date_range(start=start_date-dt.timedelta(days = 5), end=end_date_test+-dt.timedelta(days = 5))
# pdates
# df = df.reindex(pdates, fill_value=np.nan)


# df.to_csv('stock_dataset.csv', index=True, header=True, index_label='datetime')

df = pd.read_csv('stock_dataset.csv')
df
df = df.drop(columns=['1. open','2. high','3. low', '5. volume'])
df
df.set_index('datetime')
df.rename(columns={'4. close', 'close_stock'},inplace = True)

TypeError: 'set' object is not callable

In [26]:
# interpolation
# df_ = df.interpolate(method='linear',limit_direction='both',axis=0)
# df_.tail(20)

In [35]:

df.columns
df = df.loc[start_date:end_date,:]

            4. close
2017-04-01       NaN
2017-04-02       NaN
2017-04-03     42.45
2017-04-04     40.90
2017-04-05     41.31
...              ...
2022-04-26     18.77
2022-04-27     18.97
2022-04-28     19.43
2022-04-29     18.77
2022-04-30       NaN

[1856 rows x 1 columns]

In [37]:
df = pd.read_csv('stock_datase.csv')
df

      4. close
0          NaN
1          NaN
2        42.45
3        40.90
4        41.31
...        ...
1851     18.77
1852     18.97
1853     19.43
1854     18.77
1855       NaN

[1856 rows x 1 columns]

In [35]:
coordinates = {'ATL':[33.63, -84.42], 'DFW':[32.89, -97.04], 'DEN':[39.85, -104.67], 'ORD':[41.97, -87.90], 'LAX':[33.94, -118.42]}

In [45]:
from meteostat import Point, Daily,  Stations

# Set time period
start = datetime(2017, 4, 1)
end = datetime(2022, 4, 30)
# start = datetime.fromtimestamp(start_date)
# end = datetime.fromtimestamp(end_date)
print(type(start), type(datetime.fromtimestamp(start_date)))
dataframe_list = []

for i,coordinate in coordinates.items():
    stations = Stations()
    stations = stations.nearby(coordinate[0],coordinate[1])
    stations = stations.inventory('daily', True)
    station = stations.fetch(1)
    data = Daily(station, start, end)
    data = data.fetch()
    data = data.drop(columns = ['tmin', 'tmax', 'wdir', 'wpgt', 'pres', 'tsun'])
    
    def rename_map(x):
        return i + '_' + x
    
    data = data.rename(columns=rename_map)
    dataframe_list.append(data)
#     print(data.columns)
    
df = pd.concat(dataframe_list)
df.index

TypeError: an integer is required (got type datetime.date)